


*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear; 
}
 


html{
    font-size: 62.5%;
    scroll-behavior: smooth; /*para smooth pag ininscroll */

}



header{
    position: fixed; left:0; right:0; /* para di mawala header pag iniscroll*/
    background: #fff;
    padding: 2rem 9%;
    display: flex; /*nasa left lang lahat text ng header pag wala to pumupunta sila sa kabilang line */
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,1);
  

 
}

header .logo { 
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}


header .navbar a{
    font-size: 2rem;
    padding: 1.5rem; /*spacing ng home about us keme */
    color:#666;
   
}

header .navbar a:hover{
    color:pink;
}

header .icons a{
    font-size: 2.5rem; /*eto yung mga cart heart icon sa header */
    color: #333;
    margin-left: 1.5rem; /*spacing nila with each other */

}

header .icons a:hover{
    color: pink;
}


header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;    /* yang fabars tsaka togglers menu logo yan sa header design yung asa left side, katulad lang din nung mga icon sa right */
    cursor: pointer;
}

header #toggler{
    display: none;
}

/*  homepage starts here */

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(pic.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}
h3{
    text-align: center;
    font-size: 60px;
    color: #f7f4f4;          /* "NEED A WEBSITE" */
    padding-left: 40px;   
    padding-top: 30px;
 
    
}

.web {
    font-size: 15px;
    color: #fff;
    margin-left: 80px;    /* under ng flavorfusion sa home */
    margin-top: 10px;
}

section.about {
    
    
    background-image: url(web.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 55%;           /* container ng picture na web dev */
    background-color: white;   
    overflow: hidden;
    padding: 100px 0;
    margin: 15px 40px;
}

.inner {
    width: 40%;
    float: right;
    background-color: white;  
    padding: 100px;                 /* container ng container sa loob ng container ni webdev picture,,, yung about flavorfusion text keme */
    border-style: outset;
 

}

.inner h2 {
   margin-bottom: 30px;
   font-size: 30px;
   font-weight: 900;
 
}

.text {
    font-size: 13px;
    color: black;
    line-height: 30px;      /* paragraph ni about flavor fusion */
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;                  /* yung mga web design coding keme */
    font-size: 13px;
    

}

/* sample of work */


.hehe {
    font-size: 80px;
    
    background-image:  linear-gradient(
        45deg,
        #FFB6C1 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100%;
      background-repeat: repeat;
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
    
    }
     
    .hehe:hover{
        animation: rainbow-text-simple-animation 0.5s ease-in forwards;
    }       
    
    
    
    .gradient-text:hover{
        animation: rainbow-text-simple-animation 0.5s ease-in forwards;
    }
    
    
    @keyframes rainbow-text-simple-animation {
        0% {
            background-size: 100%;
        }
        80% {                                      /* starting from hehe eto yung mga css niya yung sa sample of work */
            background-size: 650%;
        }
        100% {
            background-size: 650%;
        }
    }   
    

h1{
    text-align: center;
    color: black;     /* sample of work */
    padding: 30px;
    font-size: 50px;
}

.sample {
    margin-bottom: 40px; /* in between contacts and last image */
    padding: 30px;
}

.work {
    
    text-align: center;
    padding: 5px;                             /* CONTAINER NG MGA SAMPLE OF WORK */
    border-radius: 10px;

background-color:pink;
}

.work img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    image-orientation: inherit;   /* images */
    padding: 5px 90px;
}





h2 {
    font-size: 60px;   /* CONTACT US */
}



.h3contact{
    font-size: 20px;
    text-align: left;
    color: black;
    padding-left: 0%;
    padding-top: 0%;
}

.h2contact{
    font-size: 20px;
    text-align: left;
    color: black;
    font-weight: 500;
}

.h2SM{
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: 500;
}

.h2c{
   text-align: center;
 
}
.pc{
    font-size: 18px;
    font-weight: 100;
    
}
 



.contacts {
    border-style: double;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(blur.jpg);
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.conta2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
padding-top: 50px;
}

.conta2 .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
    .conta2 .contactinfo .box{
        position: relative;
        padding: 20px 0;
        display: flex;
    }

    .conta2 .contactinfo .box .icon{
        min-width: 60px;
        height: 60px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 22px;
    }
    .conta2 .contactinfo .box .textt {
        display: flex;
        margin-left: 20px;
        font-size: 16px;
        color: #fff;
        flex-direction: column;
        font-weight: 300;
    }

    .contactform{
       border-style:double;
        padding: 5%;
        background: #fff;
    }

    input {
        border-style: groove;
    }
.contap{
    font-size: 15px;
    color: black;
}